//Kevin reset 
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

// end kevin reset
html {
  scrollbar-color: var(--sass-color-scrollbar-thumb) 
  var(--sass-color-background-body);
  scrollbar-width: thin;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji',
    sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  word-wrap: break-word;
  color: var(--sass-color-text-main);
  background: var(--sass-color-background-body);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

button,
input,
textarea {
  transition: background-color var(--sass-transition-duration) linear,
    border-color var(--sass-transition-duration) linear,
    color var(--sass-transition-duration) linear,
    box-shadow var(--sass-transition-duration) linear,
    transform var(--sass-transition-duration) ease;
}
