.app {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
  gap: 1rem;
}

header {
  padding: 1rem;
  background-color: var(--sass-color-primary);
}
